h1 {
    font-family: 'Playfair Display', serif;
    color: blanchedalmond;
    font-size: 40px;
    margin-top: 100px;
    margin-right: 150px;
    margin-left: 600px;   
}

h2 {
    font-family: 'Playfair Display', serif;
    color: blanchedalmond;
    font-size: 30px;
    margin-left: 450px;
    margin-right: 200px;
}

h3 {
    position: absolute; top: 360px; left: 280px;
    font-family: 'Playfair Display', serif;
    color: rgba(250, 244, 244, 0.815);
    font-size: 35px;
}

h4 {
    position: absolute; top: 610px; right: 235px;
    font-family: 'Playfair Display', serif;
    color: rgb(239, 116, 182);
    font-size: 34px;

}

h5 {
    position: absolute; top: 790px; left: 340px;
    font-family: 'Playfair Display', serif;
    color: blanchedalmond;
    font-size: 60px;
}

h6 {
    position: absolute; top: 1280px; left: 200px;
    font-family: 'Playfair Display', serif;
    color: blanchedalmond;
    font-size: 37px;
}

.img1 {
    position: absolute; top: 230px; left: 100px;
    width: 200px;
    height: 300px;
}

.img2 {
    position: absolute; top: 550px; right: 70px;
    width: 320px;
    height: 250px;
}

.img3 {
    position: absolute; top: 1190px; right: 50px;
    width: 400px;
    height: 300px;

}

.img4 {
    position: absolute; top: 1500px; bottom: 100px; left: 45px;
    width: 300px;
    height: 500px;
}

a:any-link {
    color: rgb(222, 246, 189);
}

a:hover {
    color: rgb(32, 181, 32);
}

a:active {
    color: deeppink;
}